.display-table, .summary-table {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#error-message, #success-message {
    display: none;
}

.status-messages {
    margin-top: 20px;
}

#loading {
    display: none;
}

.heading {
    font-family: 'Raleway', sans-serif;
}