<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Query writer</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"><link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    
</head>
<body>
    <div class='container'>
        <h1 class='heading'>QUERY WRITER</h1>
        <br>

            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Query</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" id="textbox"></textarea>
              </div>

            <br>
            <!-- Radio buttons -->
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="radio-mysql" name="database_type" class="custom-control-input" value='mysql' checked>
                <label class="custom-control-label" for="radio-mysql">MySQL</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="radio-redshift" name="database_type" class="custom-control-input" value='redshift'>
                <label class="custom-control-label" for="radio-redshift">Redshift</label>
            </div>            
            <br><br>
            <div>
                <button class="btn btn-primary" id='submit-button'>Submit</button>
            </div>
            <div class="spinner-border" role="status" id='loading'>
                <span class="sr-only">Loading...</span>
              </div>
            <div class='status-messages'>
                <div class="alert alert-success" id='success-message' role="alert">
                    <div>Success!</div>
                    <div id='success-rowcount'></div>
                    <div id='success-time'></div>
                </div>
                <div class="alert alert-danger" id='error-message' role="alert">
                    Invalid query!
                </div>
            </div>
            <!-- Navigation tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="output-tab" data-toggle="tab" href="#output" role="tab" aria-controls="home" aria-selected="true">Output</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="profile" aria-selected="false">Summary</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="contact" aria-selected="false">History</a>
                </li>
              </ul>
              <!-- Navigation content -->
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="output" role="tabpanel" aria-labelledby="home-tab"><div class='display-table'>
                    <table id='display-table'>
                    </table>
                </div></div>
                <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="profile-tab">
                    <div class='summary-table'>
                        <table id='summary-table'>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="contact-tab">
                    <div class='history-table'>
                        <table id='history-table'>
                        </table>
                    </div>
                </div>
              </div>
    </div>
        
</body>
</html>